<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">IMC e a Obesidade</h1>
    <p class="lead text-body-secondary">
      A obesidade é caracterizada pelo acúmulo/excesso de gordura corporal e é considerada uma doença crônica, sendo que uma pessoa adulta é diagnosticada com obesidade quando seu Índice de Massa Corpórea (IMC) está acima de 30 Kg.
    </p>
    <p>
      Para saber seu IMC exitem calculos que nos ajudam a descobrir em qual classificacao estamos.
    </p>
    <div class="bg-body-tertiary p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto">
        <h1 class="display-6 fw-normal">Calculadora de IMC</h1>
        <p class="fs-5">Clique no botao abaixo para acessar a calculadora!!</p>
        <p>
          <a class="btn btn-primary" href="http://localhost:4200/calculo-imc" role="button">» Calcule seu IMC »</a>
        </p>
    </div>
    </div>
  </div>
</div>
